examples/sample-flow.xml
<!-- Example only. Paste/adapt inside your Mule app XML. Requires Mule Java Module. -->
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <flow name="get-customer-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/customer/{id}" />
        <java:invoke-static
            class="com.idfcfirstbank.aerospike.api.AerospikeFunctions"
            method="getRecordWithConfig(java.util.Map, String, String)">
            <java:args><![CDATA[#[{
                arg0: {
                    hosts: p('aerospike.hosts'),
                    namespace: p('aerospike.namespace'),
                    tlsEnabled: p('aerospike.tlsEnabled') as Boolean,
                    authEnabled: p('aerospike.authEnabled') as Boolean,
                    tlsName: p('aerospike.tlsName') default null,
                    username: p('aerospike.username') default null,
                    password: p('aerospike.password') default null,
                    maxConnectionsPerNode: p('aerospike.maxConnectionsPerNode') as Number,
                    maxCommandsInProcess: p('aerospike.maxCommandsInProcess') as Number,
                    maxCommandsInQueue: p('aerospike.maxCommandsInQueue') as Number,
                    readTimeout: p('aerospike.readTimeout') as Number,
                    writeTimeout: p('aerospike.writeTimeout') as Number,
                    connectTimeout: p('aerospike.connectTimeout') as Number,
                    trustStorePath: p('aerospike.trustStorePath') default null,
                    trustStorePassword: p('aerospike.trustStorePassword') default null,
                    keyStorePath: p('aerospike.keyStorePath') default null,
                    keyStorePassword: p('aerospike.keyStorePassword') default null
                },
                arg1: p('aerospike.set.customer'),
                arg2: attributes.uriParams.id
            }]]]></java:args>
        </java:invoke-static>
    </flow>

</mule>
