examples/sample-flow.xml
<!-- Example only. Paste/adapt inside your Mule app XML. Requires Mule Java Module. -->
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <flow name="get-customer-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/customer/{id}" />
        <java:invoke-static
            class="com.idfcfirstbank.aerospike.api.AerospikeFunctions"
            method="getRecord(String, String, String, String)">
            <java:args><![CDATA[#[{
                arg0: "localhost:3000",
                arg1: "test",
                arg2: "customer",
                arg3: attributes.uriParams.id
            }]]]></java:args>
        </java:invoke-static>
    </flow>

</mule>
